<% @categories.each do |category| %>
<div>
<a href="/r/<%=category.title%>/index"><%= category.title %></a>: <%=category.submissions.length%> posts

    <div class="inline">

  <a href="/r/<%= category.title%>/edit-category">edit</a></div>
<% end %>