<!DOCTYPE html>
<html>
<head>
	<title>DiscussEverything</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="utf-8">
</head>
<body>

 <div class="header-box">
   <div class="inline-title"><a href="/index/">Discuss Everything</a></div> | 
   <a href="/new"><div class="inline">create a new category</div></a> | 
   <a href="/newest"><div class="inline">read all the newest posts</div></a>
 </div>

<%= yield %>

</body>
</html>