<!DOCTYPE html>
<html>
<head>
	<title>DiscussEverything</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<meta charset="utf-8">
</head>
<body>

 <div class="header-box">
   <a href="/index/">Discuss Everything about <%=@category_title%></a> |
   <a href="/new">create a new category</a> | 
   <a href="/newest">read all the newest posts</a> |
   <a href="/all-categories">see all categories</a>
 </div>

<%= yield %>

</body>
</html>