<div class="add-new-category-box">
  <h2>Create a new category:</h2>
    <form action="/new/create" method="post">
      <div>Title: <input type="text" name="title"><button type="submit">Submit</button></div>
    </form>
</div>
