<div class="add-new-category-box">
  <h2>Create a new category:</h2>
    <div><form action="/new/create" method="post">
      Title: <input type="text" name="title"><button type="submit">Submit</button>
    </form></div>
</div>
